<!DOCTYPE html>
<html lang="es">
    <head>
	   <meta charset="utf-8">
	   <title>GitHub-Score</title>

        <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

		{% block js %}
		{% endblock %}

    </head>
    <body>
        <section>
            <div class="container" style='padding-top:40px'>
				{% block content %}
				{% endblock %}
            </div>
        </section>
        <footer>
        </footer>
    </body>
</html>
